.gist {
  width: 30px;
  height: auto;
}

.gist-btn {
  padding: 0.5rem 1rem;
  background: white;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    display: inline;
    padding-left: 10px;
  }
}
